@import url(global.css);


header {
    min-height: 80px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #0C1118;
    background-size: cover;
}

#logo {
    padding-top: 10px;
    display: flex;
    align-items: center;
    width: 50%;

    
}
nav {
    display: flex;
    align-items: center;


}

nav ul {
    display: flex;
    flex-direction: row;
}

.nav-items {
    padding: 25px;
}

main {
    display: flex;
    align-content: center;
}

section {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectsBox img {
    height: 500px;
}