* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C;
    --shape-transparency: #ffffff8f;
    --background-color: #ffffff;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --text-color-primary: #313131;
    --text-color-secondary:#6C6C6C;

    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text-md: 14px/175% var(--font-family);
    --text-sm: 12px/175% var(--font-family);
    --text: 16px/150% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
    padding-bottom: 32px;
    
}

.bg-surface-color {
    background-color: var(--surface-color);
}

#profile {
    display: flex;
    align-items: center;
    width: 620px;
}

#profile img {
    padding-right: 32px;
}
#profile h1 {
    padding-bottom: 8px;
}

#info {
    display: flex;
    flex-direction: column;
    align-self: center ;
    list-style: none;
}
#info li {
    display: flex;
    align-content: center;
    padding: 10px 0px;
    width: 280px;
}

.galery li img {
    width: 286px;
    
}
.galery li {
    list-style: none;
    margin-top: 24px;    
}
.galery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

#galery {
    display: flex;
    max-width: 1280px;
    margin-inline: auto;
}