/* Arquivo index.css para colocar configurações específicas para cada página */
@import url(global.css);




main {
    display: flex;
    align-content: center;
}

.sectionHome{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectsBox img {
    height: 500px;
}

#hallo {

    width: 30px;
    animation: animacaoHallo 0.5s;
    animation-iteration-count: 12;
    animation-direction: alternate;
  
}

@keyframes animacaoHallo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(50deg);
    }
}

.saldacao {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.saldacao span {
    font-size: 30px;
}

.desculpe {
    max-width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    width: 100%;
    margin: 50px;
    text-align: center;
}