html {
    cursor: url(imagens/mata_mosquito.png) 30 30, auto ;
}

.principais {
    height: 100wvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}

.mosquito1 {
    width: 50px;
}
.mosquito2 {
    width: 70px;
}
.mosquito3 {
    width: 90px;
}

.ladoA {
    transform: scaleX(1);
}
.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1140px) {
    body {
        background-size: 150dvh;
    }
    
    .goimg, .ywimg {
        width: 100%;
    }
}

.imgMosquito {
    width: 100%;
    max-width: 490px;
}